<div class="sidebar-text">
  <label>BedPower:
    <button class="btnToggle" data-bind="click: function(data){$root.send('toggle',data)}, style: {'background-color': bedPower() != 1 ? 'red' : 'green' }"></button>
  </label>
</div>

